@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080610;
  color: #f8fafc;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #080610;
}
::-webkit-scrollbar-thumb {
  background: #1c1538;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2d1e4d;
}